<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.LikeMapper">

    <resultMap id="BaseResultMap" type="com.backend.entity.Like">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="videoid" column="videoid" jdbcType="INTEGER"/>
            <result property="likeDatetime" column="like_datetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,videoid,
        like_datetime
    </sql>
</mapper>
