<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.backend.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="fansCnt" column="fans_cnt" jdbcType="BIGINT"/>
            <result property="follows" column="follows" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,
        phone,img,status,
        create_time,fans_cnt,follows
    </sql>
</mapper>
