<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.UserFollowsMapper">

    <resultMap id="BaseResultMap" type="com.backend.entity.UserFollows">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="followId" column="follow_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,follow_id,follow_status,follow_time
    </sql>
</mapper>
