<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.backend.entity.Video">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="likes" column="like" jdbcType="BIGINT"/>
            <result property="shares" column="share" jdbcType="BIGINT"/>
            <result property="collection" column="collection" jdbcType="BIGINT"/>
            <result property="flag" column="flag" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="video_status" column="status" jdbcType="INTEGER"/>
            <result property="permission" column="permission" jdbcType="INTEGER"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_url,description,
        cover,like,share,
        collection,flag,category_id,
        status,permission,publish_time,
        author_id
    </sql>
</mapper>
