<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.backend.entity.Video">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="uploadDatetime" column="upload_datetime" jdbcType="TIMESTAMP"/>
            <result property="uploadLocation" column="upload_location" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,title,
        desc,type,address,
        upload_datetime,upload_location
    </sql>
</mapper>
